<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MdbManager.Properties.Settings.IODatabaseConnectionString"
            connectionString="Data Source=.;Initial Catalog=OPDIPD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MdbManager.Properties.Settings.ApplicationServices"
            connectionString="Data Source=.;Initial Catalog=OPDIPD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MdbManager.Properties.Settings.expensegeetanjaliConnectionString"
            connectionString="Data Source=.;Initial Catalog=OPDIPD;Integrated Security=True" />
        <add name="MdbManager.Properties.Settings.geetahospitalConnectionString"
            connectionString="Data Source=.;Initial Catalog=OPDIPD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MdbManager.Properties.Settings.geetanjalipathologyConnectionString"
            connectionString="Data Source=.;Initial Catalog=OPDIPD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MdbManager.Properties.Settings.medicineConnectionString"
            connectionString="Data Source=.;Initial Catalog=OPDIPD;Integrated Security=True" />
    </connectionStrings>
</configuration>