<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IOPD.DataManager.Properties.Settings.IODatabaseConnectionString"
      connectionString="Data Source=p3nwplsk12sql-v17.shr.prod.phx3.secureserver.net;Initial Catalog=NiramayDB;Persist Security Info=True;User ID=mrs;Password=@ffice_Database@2023;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
 
</configuration>